body {
  color: #fff;
  background-color: #E50914;
  font: 16px/1.7 Roboto, "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

button {
  background-color: #E50914;
  border: 1px solid rgba(255, 255, 255, .7);
  color: rgba(255, 255, 255, .7);
  padding: 6px;
  border-radius: 2px;
  font-size: 150%;
}

button:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#timeline {
  background-color: #333;
  margin: auto;
  width: 1200px;
  text-align: center;
}

#bar {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .5);
  width: 1000px;
  height: 24px;
  top:4px;
}

#current-position {
  position: absolute;
  width: 10px;
  height: 24px;
  background-color: #fff;
  left: 240px;
}

.label {
  width: 100px;
  display: inline-block;
}